In [19]:
from sqlalchemy import create_engine
import pandas as pd

In [20]:
engine = create_engine('postgresql://postgres:root@localhost:5432/Vinos')
engine

Engine(postgresql://postgres:***@localhost:5432/Vinos)

#### Definimos la estructura de la base de datos "Vinos"

In [21]:
from sqlalchemy import MetaData, types
from sqlalchemy import Table, Column, ForeignKey

In [22]:
metadata = MetaData()

In [23]:
time = Table('Time', metadata,
    Column('TimeCode', types.Integer, primary_key=True),
    Column('Date', types.DateTime, nullable=False),
 )
wine = Table('Wine', metadata,
    Column('WineCode', types.Integer, primary_key=True),
    Column('Type', types.String(50), nullable=False),
    Column('Vintage', types.String(50), nullable=False),
 )
customer = Table('Customer', metadata,
    Column('idCustomer', types.Integer, primary_key=True),
    Column('name', types.String(50), nullable=False),
    Column('addess', types.String(100), nullable=False),
    Column('phone', types.String(25), nullable=False),
    Column('birthday', types.DateTime, nullable=False),
    Column('gender', types.String(1), nullable=False),
 )
order = Table('Order', metadata,
    Column('idOrder', types.Integer, primary_key=True),
    Column('idCustomer', ForeignKey(customer.columns.get('idCustomer')), nullable=False),
    Column('idWine', ForeignKey(wine.columns.get('WineCode')), nullable=False),
    Column('idTime', ForeignKey(time.columns.get('TimeCode')), nullable=False),
    Column('nrBottles', types.Integer, nullable=False),
    Column('nrCases', types.Integer, nullable=False),
 )

#### Creamos la bd con la estructura anterior (descomentar la linea siguiente para ejecutar)

In [18]:
#metadata.create_all()

### Hacemos las consultas

#### Consulta 1: Muestre porcentajes de tipos de vinos más vendidos en X año

In [59]:
ANIO = 2014
subquery_2 = '(Select "TimeCode" From "Time" Where date_part(\'year\', "Date")::Integer = {0} )'.format(ANIO)
subquery_3 = '(Select * From "Order" Where "idTime" in {0}) as "sub_order"'.format(subquery_2)
subquery_1 = 'Select "idWine" as "idVino", "Type" as "tipoVino", \
            (Count("idWine")* 100 / (Select Count(*) From {0})) as "Porcentaje %%" \
            From {0}, "Wine" Where "idTime" in {1} AND "idWine" = "WineCode"  \
            Group By "idVino", "tipoVino" Order By "Porcentaje %%" DESC'.format(subquery_3, subquery_2)

df_query_1 = pd.read_sql_query( subquery_1 , con=engine)
df_query_1

   idVino tipoVino  Porcentaje %
0       1   Blanco            50
1       3   Rosado            25
2       2    Tinto            25

#### Consulta 2: ¿Cuál es la temporada con mayor cantidad de ventas de X vino?

In [120]:
VINO = 4
#Toda la info de ordenes del vino X
subquery_1 = 'Select "idWine", "Type" as "tipoVino", date_part(\'year\', "Date") as "Temporada", \
                COUNT(date_part(\'year\', "Date")) as "Total_por_temporada"\
                From "Order", "Time", "Wine" \
                Where "idWine" = {0} And "TimeCode" = "idTime" And "WineCode" = {0} Group By "Temporada", "idWine", "tipoVino"'.format(VINO) 

df_query_2 = pd.read_sql_query(subquery_1, con=engine)
df_query_2

   idWine tipoVino  Temporada  Total_por_temporada
0       4  Clarete       2015                    1
1       4  Clarete       2012                    1

#### Puede observarse que el primer resultado es la temporada con mayores ventas del tipo de vino seleccionado

#### Consulta 3: Qué clientes han realizado más compras a lo largo de 4 años?

In [136]:
subquery_1 = 'Select "idCustomer" From "Order", "Time" \
                Where "idTime" = "TimeCode" \
                And date_part(\'year\', "Date") > 2013 \
                And date_part(\'year\', "Date") <= 2014 \
                Group By "idCustomer" Order By Count("idCustomer") DESC'
df_query_3 = pd.read_sql_query(subquery_1, con=engine)
df_query_3

   idCustomer
0           1
1           2
2           3