# Vinos

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
engine = create_engine('postgresql://postgres:root@localhost:5432/Vinos')
engine

#### Definimos la estructura de la base de datos "Vinos"

In [ ]:
from sqlalchemy import MetaData, types
from sqlalchemy import Table, Column, ForeignKey

In [ ]:
metadata = MetaData()

In [ ]:
time = Table('Time', metadata,
    Column('TimeCode', types.Integer, primary_key=True),
    Column('Date', types.DateTime, nullable=False),
 )
wine = Table('Wine', metadata,
    Column('WineCode', types.Integer, primary_key=True),
    Column('Type', types.String(50), nullable=False),
    Column('Vintage', types.String(50), nullable=False),
 )
customer = Table('Customer', metadata,
    Column('idCustomer', types.Integer, primary_key=True),
    Column('name', types.String(50), nullable=False),
    Column('addess', types.String(100), nullable=False),
    Column('phone', types.String(25), nullable=False),
    Column('birthday', types.DateTime, nullable=False),
    Column('gender', types.String(1), nullable=False),
 )
order = Table('Order', metadata,
    Column('idOrder', types.Integer, primary_key=True),
    Column('idCustomer', ForeignKey(customer.columns.get('idCustomer')), nullable=False),
    Column('idWine', ForeignKey(wine.columns.get('WineCode')), nullable=False),
    Column('idTime', ForeignKey(time.columns.get('TimeCode')), nullable=False),
    Column('nrBottles', types.Integer, nullable=False),
    Column('nrCases', types.Integer, nullable=False),
 )

#### Creamos la bd con la estructura anterior (descomentar la linea siguiente para ejecutar)

In [ ]:
metadata.create_all(engine)

### Hacemos las consultas

#### Consulta 1: Muestre porcentajes de tipos de vinos más vendidos en X año

In [ ]:
ANIO = 2014
subquery_2 = '(Select "TimeCode" From "Time" Where date_part(\'year\', "Date")::Integer = {0} )'.format(ANIO)
subquery_3 = '(Select * From "Order" Where "idTime" in {0}) as "sub_order"'.format(subquery_2)
subquery_1 = 'Select "idWine" as "idVino", "Type" as "tipoVino", \
            (Count("idWine")* 100 / (Select Count(*) From {0})) as "Porcentaje %%" \
            From {0}, "Wine" Where "idTime" in {1} AND "idWine" = "WineCode"  \
            Group By "idVino", "tipoVino" Order By "Porcentaje %%" DESC'.format(subquery_3, subquery_2)

df_query_1 = pd.read_sql_query( subquery_1 , con=engine)
df_query_1

#### Consulta 2: ¿Cuál es la temporada con mayor cantidad de ventas de X vino?

In [ ]:
VINO = 4
#Toda la info de ordenes del vino X
subquery_1 = 'Select "idWine", "Type" as "tipoVino", date_part(\'year\', "Date") as "Temporada", \
                COUNT(date_part(\'year\', "Date")) as "Total_por_temporada"\
                From "Order", "Time", "Wine" \
                Where "idWine" = {0} And "TimeCode" = "idTime" And "WineCode" = {0} Group By "Temporada", "idWine", "tipoVino"'.format(VINO) 

df_query_2 = pd.read_sql_query(subquery_1, con=engine)
df_query_2

#### Puede observarse que el primer resultado es la temporada con mayores ventas del tipo de vino seleccionado

#### Consulta 3: Qué clientes han realizado más compras a lo largo de 4 años?

In [ ]:
subquery_1 = 'Select "idCustomer" From "Order", "Time" \
                Where "idTime" = "TimeCode" \
                And date_part(\'year\', "Date") > 2013 \
                And date_part(\'year\', "Date") <= 2014 \
                Group By "idCustomer" Order By Count("idCustomer") DESC'
df_query_3 = pd.read_sql_query(subquery_1, con=engine)
df_query_3

# Inmobiliaria

In [5]:
from sqlalchemy import create_engine
import pandas as pd

In [6]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Inmobiliaria')
engine

Engine(postgresql://postgres:***@localhost:5432/Inmobiliaria)

#### Creamos la base de datos si no existe

In [7]:
from sqlalchemy_utils import database_exists, create_database
if not database_exists(engine.url):
    create_database(engine.url)

#### Definimos la estructura de la base de datos "Inmobiliaria"

In [9]:
from sqlalchemy import MetaData, types
from sqlalchemy import Table, Column, ForeignKey

In [10]:
metadata = MetaData()
metadata

MetaData(bind=None)

In [11]:
owner = Table('Owner', metadata,
    Column('idOwner', types.Integer, primary_key=True, autoincrement='ignore_fk'),
    Column('name', types.String(50), nullable=False),
    Column('surname', types.String(50), nullable=False),
    Column('address', types.String(50), nullable=False),
    Column('city', types.String(50), nullable=False),
    Column('phone', types.String(50), nullable=False),
 )
estate = Table('Estate', metadata,
    Column('idEstate', types.Integer, primary_key=True, autoincrement='ignore_fk'),
    Column('idOwner', ForeignKey(owner.columns.get('idOwner')), nullable=False),
    Column('category', types.String(50), nullable=False),
    Column('city', types.String(50), nullable=False),
    Column('province', types.String(50), nullable=False),
    Column('rooms', types.Integer, nullable=False),
    Column('bedrooms', types.Integer, nullable=False),
    Column('garage', types.Integer, nullable=False, default=0),
    Column('meters', types.Integer, nullable=False),
 )
customer = Table('Customer', metadata,
    Column('idCustomer', types.Integer, primary_key=True, autoincrement='ignore_fk'),
    Column('name', types.String(50), nullable=False),
    Column('surname', types.String(50), nullable=False),
    Column('budget', types.Float, nullable=False),
    Column('address', types.String(50), nullable=False, default=0.00),
    Column('city', types.String(50), nullable=False),
    Column('phone', types.String(50), nullable=False),
 )
agent = Table('Agent', metadata,
    Column('idAgent', types.Integer, primary_key=True, autoincrement='ignore_fk'),
    Column('name', types.String(50), nullable=False),
    Column('surname', types.String(50), nullable=False),
    Column('office', types.String(50), nullable=True),
    Column('address', types.String(50), nullable=False, default=0.00),
    Column('city', types.String(50), nullable=False),
    Column('phone', types.String(50), nullable=False),
)
visit = Table('Visit', metadata,
    Column('idVisit', types.Integer, primary_key=True, autoincrement='ignore_fk'),
    Column('idEstate', ForeignKey(estate.columns.get('idEstate')), nullable=False),
    Column('idAgent', ForeignKey(agent.columns.get('idAgent')), nullable=False),
    Column('idCustomer', ForeignKey(customer.columns.get('idCustomer')), nullable=False),
    Column('date', types.Date, nullable=False),
    Column('duration', types.Integer, nullable=False, default=0),
)
sale = Table('Sale', metadata,
    Column('idSale', types.Integer, primary_key=True, autoincrement='ignore_fk'),
    Column('idEstate', ForeignKey(estate.columns.get('idEstate')), nullable=False),
    Column('idAgent', ForeignKey(agent.columns.get('idAgent')), nullable=False),
    Column('idCustomer', ForeignKey(customer.columns.get('idCustomer')), nullable=False),
    Column('date', types.Date, nullable=False),
    Column('agreedPrice', types.Float, nullable=False, default=0.00),
    Column('status', types.String(50), nullable=False),
)
rent = Table('Rent', metadata,
    Column('idRent', types.Integer, primary_key=True, autoincrement='ignore_fk'),
    Column('idEstate', ForeignKey(estate.columns.get('idEstate')), nullable=False),
    Column('idAgent', ForeignKey(agent.columns.get('idAgent')), nullable=False),
    Column('idCustomer', ForeignKey(customer.columns.get('idCustomer')), nullable=False),
    Column('date', types.Date, nullable=False),
    Column('price', types.Float, nullable=False, default=0.00),
    Column('status', types.String(50), nullable=False),
    Column('time', types.Integer, nullable=False, default=24),
)

#### Creamos la bd con la estructura anterior

In [12]:
metadata.create_all(engine)