# Vinos

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Vinos')
engine

#### Definimos la estructura de la base de datos "Vinos"

In [ ]:
from sqlalchemy import MetaData, types
from sqlalchemy import Table, Column, ForeignKey

In [ ]:
metadata = MetaData()

In [ ]:
time = Table('Time', metadata,
    Column('TimeCode', types.Integer, primary_key=True),
    Column('Date', types.DateTime, nullable=False),
 )
wine = Table('Wine', metadata,
    Column('WineCode', types.Integer, primary_key=True),
    Column('Type', types.String(50), nullable=False),
    Column('Vintage', types.String(50), nullable=False),
 )
customer = Table('Customer', metadata,
    Column('idCustomer', types.Integer, primary_key=True),
    Column('name', types.String(50), nullable=False),
    Column('addess', types.String(100), nullable=False),
    Column('phone', types.String(25), nullable=False),
    Column('birthday', types.DateTime, nullable=False),
    Column('gender', types.String(1), nullable=False),
 )
order = Table('Order', metadata,
    Column('idOrder', types.Integer, primary_key=True),
    Column('idCustomer', ForeignKey(customer.columns.get('idCustomer')), nullable=False),
    Column('idWine', ForeignKey(wine.columns.get('WineCode')), nullable=False),
    Column('idTime', ForeignKey(time.columns.get('TimeCode')), nullable=False),
    Column('nrBottles', types.Integer, nullable=False),
    Column('nrCases', types.Integer, nullable=False),
 )

#### Creamos la bd con la estructura anterior (descomentar la linea siguiente para ejecutar)

In [ ]:
metadata.create_all(engine)

### Hacemos las consultas

#### Consulta 1: Muestre porcentajes de tipos de vinos más vendidos en X año

In [ ]:
ANIO = 2014
subquery_2 = '(Select "TimeCode" From "Time" Where date_part(\'year\', "Date")::Integer = {0} )'.format(ANIO)
subquery_3 = '(Select * From "Order" Where "idTime" in {0}) as "sub_order"'.format(subquery_2)
subquery_1 = 'Select "idWine" as "idVino", "Type" as "tipoVino", \
            (Count("idWine")* 100 / (Select Count(*) From {0})) as "Porcentaje %%" \
            From {0}, "Wine" Where "idTime" in {1} AND "idWine" = "WineCode"  \
            Group By "idVino", "tipoVino" Order By "Porcentaje %%" DESC'.format(subquery_3, subquery_2)

df_query_1 = pd.read_sql_query( subquery_1 , con=engine)
df_query_1

#### Consulta 2: ¿Cuál es la temporada con mayor cantidad de ventas de X vino?

In [ ]:
VINO = 4
#Toda la info de ordenes del vino X
subquery_1 = 'Select "idWine", "Type" as "tipoVino", date_part(\'year\', "Date") as "Temporada", \
                COUNT(date_part(\'year\', "Date")) as "Total_por_temporada"\
                From "Order", "Time", "Wine" \
                Where "idWine" = {0} And "TimeCode" = "idTime" And "WineCode" = {0} Group By "Temporada", "idWine", "tipoVino"'.format(VINO) 

df_query_2 = pd.read_sql_query(subquery_1, con=engine)
df_query_2

#### Puede observarse que el primer resultado es la temporada con mayores ventas del tipo de vino seleccionado

#### Consulta 3: Qué clientes han realizado más compras a lo largo de 4 años?

In [ ]:
subquery_1 = 'Select "idCustomer" From "Order", "Time" \
                Where "idTime" = "TimeCode" \
                And date_part(\'year\', "Date") > 2013 \
                And date_part(\'year\', "Date") <= 2014 \
                Group By "idCustomer" Order By Count("idCustomer") DESC'
df_query_3 = pd.read_sql_query(subquery_1, con=engine)
df_query_3

# Inmobiliaria

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Inmobiliaria')
engine

Engine(postgresql://postgres:***@localhost:5432/Inmobiliaria)

#### Eliminamos la base de datos si hace falta

In [3]:
from sqlalchemy_utils import drop_database
drop_database(engine.url)

#### Creamos la base de datos si no existe

In [4]:
from sqlalchemy_utils import database_exists, create_database
if not database_exists(engine.url):
    create_database(engine.url)

#### Definimos la estructura de la base de datos "Inmobiliaria"

In [5]:
from sqlalchemy import MetaData, types
from sqlalchemy import Table, Column, ForeignKey

In [6]:
metadata = MetaData()
metadata

MetaData(bind=None)

In [7]:
owner = Table('Owner', metadata,
    Column('idOwner', types.Integer, primary_key=True), #autoincrement='ignore_fk'
    Column('name', types.String(50), nullable=False),
    Column('surname', types.String(50), nullable=False),
    Column('address', types.String(50), nullable=False),
    Column('city', types.String(50), nullable=False),
    Column('phone', types.String(50), nullable=False),
 )
estate = Table('Estate', metadata,
    Column('idEstate', types.Integer, primary_key=True), #autoincrement='ignore_fk'
    Column('idOwner', ForeignKey(owner.columns.get('idOwner')), nullable=False),
    Column('category', types.String(50), nullable=False),
    Column('city', types.String(50), nullable=False),
    Column('province', types.String(50), nullable=False),
    Column('rooms', types.Integer, nullable=False),
    Column('bedrooms', types.Integer, nullable=False),
    Column('garage', types.Integer, nullable=False, default=0),
    Column('meters', types.Integer, nullable=False),
 )
customer = Table('Customer', metadata,
    Column('idCustomer', types.Integer, primary_key=True), #autoincrement='ignore_fk'
    Column('name', types.String(50), nullable=False),
    Column('surname', types.String(50), nullable=False),
    Column('budget', types.Float, nullable=False),
    Column('address', types.String(50), nullable=False, default=0.00),
    Column('city', types.String(50), nullable=False),
    Column('phone', types.String(50), nullable=False),
 )
agent = Table('Agent', metadata,
    Column('idAgent', types.Integer, primary_key=True), #autoincrement='ignore_fk'
    Column('name', types.String(50), nullable=False),
    Column('surname', types.String(50), nullable=False),
    Column('office', types.String(50), nullable=True),
    Column('address', types.String(50), nullable=False, default=0.00),
    Column('city', types.String(50), nullable=False),
    Column('phone', types.String(50), nullable=False),
)
agenda = Table('Agenda', metadata,
    Column('idAgenda', types.Integer, primary_key=True), #autoincrement='ignore_fk'
    Column('idAgent', ForeignKey(agent.columns.get('idAgent')), nullable=False),
    Column('date', types.Date, nullable=False),
    Column('time', types.Time, nullable=False),
    Column('idEstate', ForeignKey(estate.columns.get('idEstate')), nullable=False),
    Column('clienteName', types.String(100), nullable=False),
)
visit = Table('Visit', metadata,
    Column('idVisit', types.Integer, primary_key=True), #autoincrement='ignore_fk'
    Column('idEstate', ForeignKey(estate.columns.get('idEstate')), nullable=False),
    Column('idAgent', ForeignKey(agent.columns.get('idAgent')), nullable=False),
    Column('idCustomer', ForeignKey(customer.columns.get('idCustomer')), nullable=False),
    Column('date', types.DateTime, nullable=False),
    Column('duration', types.Integer, nullable=False, default=0),
)
sale = Table('Sale', metadata,
    Column('idSale', types.Integer, primary_key=True), #autoincrement='ignore_fk'
    Column('idEstate', ForeignKey(estate.columns.get('idEstate')), nullable=False),
    Column('idAgent', ForeignKey(agent.columns.get('idAgent')), nullable=False),
    Column('idCustomer', ForeignKey(customer.columns.get('idCustomer')), nullable=False),
    Column('date', types.DateTime, nullable=False),
    Column('agreedPrice', types.Float, nullable=False, default=0.00),
    Column('status', types.String(50), nullable=False),
)
rent = Table('Rent', metadata,
    Column('idRent', types.Integer, primary_key=True), #autoincrement='ignore_fk'
    Column('idEstate', ForeignKey(estate.columns.get('idEstate')), nullable=False),
    Column('idAgent', ForeignKey(agent.columns.get('idAgent')), nullable=False),
    Column('idCustomer', ForeignKey(customer.columns.get('idCustomer')), nullable=False),
    Column('date', types.DateTime, nullable=False),
    Column('price', types.Float, nullable=False, default=0.00),
    Column('status', types.String(50), nullable=False),
    Column('time', types.Integer, nullable=False, default=24),
)

#### Creamos la bd con la estructura anterior

In [8]:
metadata.create_all(engine)

### Empezamos a meter datos

#### Lleno la tabla Owner

In [9]:
df_owner = pd.read_sql_query('select * from "Owner"',con=engine)
data = [[1,'Juan', 'Perez', 'Calle 25 1000', 'Trelew', '444-3333'],
        [2,'Laura', 'Gomez', 'Avenida la Plata 443', 'Trelew', '442-4567'],
        [3,'Marcelo', 'Delia', 'Changui Rios 3334', 'Rawson', '444-3587'],
       ]
new_df_owner = pd.DataFrame(data, columns=df_owner.columns)
new_df_owner.to_sql('Owner', engine, if_exists='append', index=False, chunksize=1)
#Vuelvo a leer
df_owner = pd.read_sql_query('select * from "Owner"',con=engine)
df_owner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 6 columns):
idOwner    3 non-null int64
name       3 non-null object
surname    3 non-null object
address    3 non-null object
city       3 non-null object
phone      3 non-null object
dtypes: int64(1), object(5)
memory usage: 168.0+ bytes

#### Lleno la tabla Estate

In [10]:
df_estate = pd.read_sql_query('select * from "Estate"',con=engine)
data = [[1, 1, 'Casa', 'Puerto Madryn', 'Chubut', 4, 2, 0, 50],
        [2, 2, 'Casa', 'Puerto Madryn', 'Chubut', 5, 3, 1, 100],
        [3, 3, 'Piso', 'Rawson', 'Chubut', 3, 1, 0, 45],
        [4, 3, 'Duplex', 'Trelew', 'Chubut', 4, 2, 2, 75],
        [5, 3, 'Piso', 'Trelew', 'Chubut', 4, 2, 2, 75],
        [6, 3, 'Piso', 'Trelew', 'Chubut', 5, 3, 0, 100],
        [7, 2, 'Piso', 'Trelew', 'Chubut', 4, 2, 1, 120],
       ]
new_df_estate = pd.DataFrame(data, columns=df_estate.columns)
new_df_estate.to_sql('Estate', engine, if_exists='append', index=False, chunksize=1)
#Vuelvo a leer
df_estate = pd.read_sql_query('select * from "Estate"',con=engine)
df_estate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 9 columns):
idEstate    7 non-null int64
idOwner     7 non-null int64
category    7 non-null object
city        7 non-null object
province    7 non-null object
rooms       7 non-null int64
bedrooms    7 non-null int64
garage      7 non-null int64
meters      7 non-null int64
dtypes: int64(6), object(3)
memory usage: 560.0+ bytes

#### Lleno la tabla Customer

In [11]:
df_customer = pd.read_sql_query('select * from "Customer"',con=engine)
data = [[1,'Romina', 'Gaitan', 100000.00, 'Inmigrantes 144', 'Trelew', '15-426-8965'],
        [2,'Natalia', 'Guzman', 200000.00, 'Av. Cordoba 1442', 'Buenos Aires', '(011) 15-4435-3565'],
        [3,'Diego', 'Czerniak', 500000.00, 'Maria Humphreys 378', 'Trelew', '15-437-6540'],
       ]
new_df_customer = pd.DataFrame(data, columns=df_customer.columns)
new_df_customer.to_sql('Customer', engine, if_exists='append', index=False, chunksize=1)
#Vuelvo a leer
df_customer = pd.read_sql_query('select * from "Customer"',con=engine)
df_customer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 7 columns):
idCustomer    3 non-null int64
name          3 non-null object
surname       3 non-null object
budget        3 non-null float64
address       3 non-null object
city          3 non-null object
phone         3 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 192.0+ bytes

#### Lleno la tabla Agent

In [12]:
df_agent = pd.read_sql_query('select * from "Agent"',con=engine)
data = [[1,'Gonzalo', 'Mangucio', 'Inmobiliaria Magucio', 'España 77', 'Trelew', '442-6849'],
        [2,'Camelia', 'Russo', 'Inmobiliaria Russo', 'A. P. Bell 315', 'Trelew', '443-4235'],
        [3,'Hernan', 'Garzonio', 'Inmobiliaria Garzonio', 'Inmigrantes 224 ', 'Trelew', '442-1428'],
       ]
new_df_agent = pd.DataFrame(data, columns=df_agent.columns)
new_df_agent.to_sql('Agent', engine, if_exists='append', index=False, chunksize=1)
#Vuelvo a leer
df_agent = pd.read_sql_query('select * from "Agent"',con=engine)
df_agent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 7 columns):
idAgent    3 non-null int64
name       3 non-null object
surname    3 non-null object
office     3 non-null object
address    3 non-null object
city       3 non-null object
phone      3 non-null object
dtypes: int64(1), object(6)
memory usage: 192.0+ bytes

#### Lleno la tabla Agenda

In [13]:
df_agenda = pd.read_sql_query('select * from "Agenda"',con=engine)
data = [[1, 1, '2015-09-10', '09:00', 4, 'Juan Castro'],
        [2, 1, '2015-09-10', '10:00', 4, 'Micaela Rodriguez'],
        [3, 2, '2015-09-11', '16:00', 1, 'Moira Queen'],
        [4, 2, '2015-09-11', '20:00', 1, 'Juana Molina'],
        [5, 3, '2015-09-15', '08:30', 4, 'Giovana Rodriguez'],
       ]
new_df_agenda = pd.DataFrame(data, columns=df_agenda.columns)
new_df_agenda.to_sql('Agenda', engine, if_exists='append', index=False, chunksize=1)
#Vuelvo a leer
df_agenda = pd.read_sql_query('select * from "Agenda"',con=engine)
df_agenda.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 6 columns):
idAgenda       5 non-null int64
idAgent        5 non-null int64
date           5 non-null object
time           5 non-null object
idEstate       5 non-null int64
clienteName    5 non-null object
dtypes: int64(3), object(3)
memory usage: 280.0+ bytes

#### Lleno la tabla Visit

In [24]:
df_visit = pd.read_sql_query('select * from "Visit"',con=engine)
data = [[1, 1, 3, 3, '2015-08-01', 180],
        [2, 2, 3, 3, '2015-08-02', 60],
        [3, 2, 3, 3, '2015-08-05', 45],
        [4, 2, 2, 1, '2015-09-01', 50],
        [5, 3, 2, 2, '2015-09-01', 30],
        [6, 3, 1, 1, '2015-09-05', 120],
       ]
new_df_visit = pd.DataFrame(data, columns=df_visit.columns)
new_df_visit.to_sql('Visit', engine, if_exists='append', index=False, chunksize=1)
#Vuelvo a leer
df_visit = pd.read_sql_query('select * from "Visit"',con=engine)
df_visit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 6 columns):
idVisit       6 non-null int64
idEstate      6 non-null int64
idAgent       6 non-null int64
idCustomer    6 non-null int64
date          6 non-null datetime64[ns]
duration      6 non-null int64
dtypes: datetime64[ns](1), int64(5)
memory usage: 336.0 bytes

#### Lleno la tabla Sale

In [40]:
df_sale = pd.read_sql_query('select * from "Sale"',con=engine)
data = [[1, 1, 3, 3, '2015-07-01', 100000, 'Charlando con la pareja'],
        [2, 3, 1, 1, '2015-08-05', 150000, 'Señado'],
        [3, 5, 1, 1, '2015-08-05', 150000, 'Señado'],
        [4, 6, 2, 1, '2015-09-01', 200000, 'Boleto'],
        [5, 7, 2, 2, '2015-09-02', 250000, 'Escriturado'],
        [6, 4, 2, 2, '2015-09-02', 500000, 'Escriturado']
       ]
new_df_sale = pd.DataFrame(data, columns=df_sale.columns)
new_df_sale.to_sql('Sale', engine, if_exists='append', index=False, chunksize=1)
#Vuelvo a leer
df_sale = pd.read_sql_query('select * from "Sale"',con=engine)
df_sale.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 7 columns):
idSale         6 non-null int64
idEstate       6 non-null int64
idAgent        6 non-null int64
idCustomer     6 non-null int64
date           6 non-null datetime64[ns]
agreedPrice    6 non-null float64
status         6 non-null object
dtypes: datetime64[ns](1), float64(1), int64(4), object(1)
memory usage: 384.0+ bytes

#### Lleno la tabla Rent

In [16]:
df_rent = pd.read_sql_query('select * from "Rent"',con=engine)
data = [[1, 2, 3, 3, '2015-08-02', 7500.00, 'Alquilado',18],
       ]
new_df_rent = pd.DataFrame(data, columns=df_rent.columns)
new_df_rent.to_sql('Rent', engine, if_exists='append', index=False, chunksize=1)
#Vuelvo a leer
df_rent = pd.read_sql_query('select * from "Rent"',con=engine)
df_rent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 8 columns):
idRent        1 non-null int64
idEstate      1 non-null int64
idAgent       1 non-null int64
idCustomer    1 non-null int64
date          1 non-null datetime64[ns]
price         1 non-null float64
status        1 non-null object
time          1 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 72.0+ bytes

### Hacemos las consultas

#### Consulta 1: ¿Qué tipo de propiedad se vendió por el precio más alto con respecto a cada ciudad y meses?

In [47]:
#Traigo las Ventas
df_sale = pd.read_sql_query('Select * from "Sale"', con=engine)
#Traigo las Propiedades
df_estate = pd.read_sql_query('Select * from "Estate"', con=engine)
#Merge
merged = pd.merge(df_sale, df_estate, on='idEstate', how='inner')
#Convierto la fecha
pd.to_datetime(merged['date'], unit='ns')
#Busco los meses
merged['month'] = pd.DatetimeIndex(merged['date']).month
#Busco Ciudades
ciudades = merged.city.drop_duplicates().values
#Descomentar si queres ver mas información
#print merged

print "\n¿Qué tipo de propiedad se vendió por el precio más alto con respecto a cada ciudad y meses?"
for ciudad in ciudades:
    #Busco meses de ventas para esta ciudad
    print "\nCiudad: %s" % (ciudad)
    meses = merged[merged.city==ciudad].month.drop_duplicates().values
    for mes in meses:
        #Busco la venta con el precio mas alto para esa ciudad y ese mes
        ventas_ciudad_mes = merged[(merged.city == ciudad) & (merged.month == mes)]
        #Descomentar si quiero más información acerca de las ventas
        #print ventas_ciudad_mes.sort('agreedPrice', ascending=False)
        category = ventas_ciudad_mes.sort('agreedPrice', ascending=False).category.values[0]
        agreedPrice = ventas_ciudad_mes.sort('agreedPrice', ascending=False).agreedPrice.values[0]
        print "Mes: %d - Categoria: %s - Mejor venta $%8.2f" % (mes, category, agreedPrice)

¿Qué tipo de propiedad se vendió por el precio más alto con respecto a cada ciudad y meses?

Ciudad: Puerto Madryn
Mes: 7 - Categoria: Casa - Mejor venta $100000.00

Ciudad: Rawson
Mes: 8 - Categoria: Piso - Mejor venta $150000.00

Ciudad: Trelew
Mes: 8 - Categoria: Piso - Mejor venta $150000.00
Mes: 9 - Categoria: Duplex - Mejor venta $500000.00

#### Consulta 2: ¿Quién ha comprado un piso con el precio más alto con respecto a cada mes?

In [46]:
#Traigo las Ventas
df_sale = pd.read_sql_query('Select * from "Sale"', con=engine)
#Traigo las Propiedades
df_estate = pd.read_sql_query('Select * from "Estate"', con=engine)
#Traigo los Clientes
df_customer = pd.read_sql_query('Select * from "Customer"', con=engine)
#Merge
merged = pd.merge(df_sale, df_estate, on='idEstate', how='inner')
merged = pd.merge(merged, df_customer, on='idCustomer', how='inner')
#Convierto la fecha
pd.to_datetime(merged['date'], unit='ns')
#Busco los meses
merged['month'] = pd.DatetimeIndex(merged['date']).month
#Filtro solo los pisos
solo_pisos = merged[merged.category=='Piso']
#Muestro las ventas de Pisos
#Descomentar si queres ver mas información
#print solo_pisos

#busco los meses de Venta de los Pisos
meses = solo_pisos['month'].drop_duplicates()
#Busco el Precio mas alto de cada mes
precio_mas_alto = map(lambda mes: [mes, solo_pisos[solo_pisos.month==mes].agreedPrice.max()], meses)
#Muestro el resultado
print "\n¿Quién ha comprado un piso con el precio más alto con respecto a cada mes?"
for mes, precio in precio_mas_alto:
    customer_surname = solo_pisos[(solo_pisos.month==mes) & (solo_pisos.agreedPrice==precio)].surname.values[0]
    customer_name = solo_pisos[(solo_pisos.month==mes) & (solo_pisos.agreedPrice==precio)].name.values[0]
    #print cliente
    print "Mes: {0} - Valor ${1} - Comprador: {2}, {3}".format(mes, precio, customer_surname, customer_name)

¿Quién ha comprado un piso con el precio más alto con respecto a cada mes?
Mes: 8 - Valor $150000.0 - Comprador: Gaitan, Romina
Mes: 9 - Valor $250000.0 - Comprador: Guzman, Natalia

#### Consulta 3: ¿Cuál es la duración media de visitas en las propiedades de cada categoría?

In [48]:
#Traigo las Propiedades
df_estate = pd.read_sql_query('Select * from "Estate"', con=engine)
#Traido las Visitas
df_visit = pd.read_sql_query('Select * from "Visit"', con=engine)
#Merge
merged = pd.merge(df_estate, df_visit, on='idEstate', how='inner')
categorias = merged.category.drop_duplicates().values

#Descomentar si queres ver mas información
#print merged

print "\n¿Cuál es la duración media de visitas en las propiedades de cada categoría?"
for categoria in categorias:
    #Busco
    print "Categoria: {0} - Duración Media: {1} minutos".format(categoria, \
    merged[merged.category==categoria].duration.describe()["mean"])

¿Cuál es la duración media de visitas en las propiedades de cada categoría?
Categoria: Casa - Duración Media: 83.75 minutos
Categoria: Piso - Duración Media: 75.0 minutos